<!DOCTYPE html>
<html>
  <head>
    <title>help | ruby on rails new app</title>
    </head>
    <body>
        <h1>Help Page</h1>
        <p> you can check github for help contents</p>
    </body>
</html>


